<!doctype html>
<html lang="en">
  <head>
    <title>Shopify Image Optimizer</title>
    <script src="lib/dist/batman.js"></script>
    <script src="lib/es5-shim.js"></script>
    <script src="lib/app.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/base.css">
  </head>
  <body>
  <div data-yield="main"></div>
  <div data-defineview="images/index">
    <div class="header">
      <a class="logo" href="#">Shopify Image Optimizer</a>
    </div>
      <ul>
      <li><a href='/auth/shopify'>Sign in with Shopify</a></li>
      </ul>
  </div>
  </body>
</html>
  
