<!doctype html>
<html lang="en">
  <head>
    <title>Shopify Image Optimizer</title>
    <script src="lib/dist/batman.js"></script>
    <script src="lib/es5-shim.js"></script>
    <script src="lib/app.js"></script>
  </head>
  <body>
  <div data-yield="main"></div>
  <div data-defineview="images/index">
    <h1>Image Optimizer</h1>
    <ul>
      <li>
        <p data-bind="test">Prout</p>
      </li>
    </ul>
  </div>
  </body>
</html>
  
