<!doctype html>
<html lang="en">
  <head>
    <title>Shopify Image Optimizer</title>
    <script src="lib/dist/batman.js"></script>
    <script src="lib/es5-shim.js"></script>
    <script src="lib/app.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/base.css">
  </head>
  <body>
  <div data-yield="main"></div>
  <div data-defineview="images/products">
    <div class="header">
      <a class="logo" href="#">Shopify Image Optimizer</a>
    </div>
    <ul>
      {% for product in products %}
        <li>
        <p>{{ product.title }}</p>
        {% for image in product.images %}
          <img src={{ image.src }} />
        {% endfor %}
        </li>
      {% endfor %}
    </ul>
  </div>
  </body>
</html>
  
